.imgedit-panel-content .hotspot {
	position: absolute;
	max-width: 150px;
	min-width: 10px;
	height: 0;
	border: 0px solid #ccc;
	border: solid 1px rgba(230,230,230,.85);
	background: rgba(255,155,155,.5);
	border-radius: 50%;
}


.imgedit-menu button.imgedit-hotspot:before {
    content: "\f159";
}

.imgedit-menu button.imgedit-hotspot.hotspot-active {
	border-color: #4BB000;
    background-color: #CCEAB5;
    color: #777;
    opacity: 0.5;
}

.imgedit-menu button.hotspot-disabled {
    border-color: #CCC;
    background-color: #DDD;
    color: #777;
    opacity: 0.5;
    cursor: default;
}
